@using BlazorToDoApp.Models
@inject IJSRuntime JsRuntime

<fieldset class="item">
    <input type="checkbox" class="checkbox" id="@Model.ToDoItemId" @onchange="ToggleCheckbox" />
    <label title="@(Model.Checked ? "Mark as not completed" : "Mark as completed")" for="@Model.ToDoItemId" class="@(Model.Checked ? "checkbox-label-checked" : "checkbox-label")">
        <span class="check-sign"></span>
    </label>
    <textarea maxlength="255" id=@_dynamicId class="@(Model.Checked ? "todo-item-text-crossed" : "todo-item-text")" @oninput="EditTaskText" onkeypress="return event.keyCode!=13" onresize="window.methods.test(event)" onload="window.methods.test" @bind=@Model.Text>@Model.Text</textarea>
    <button title="Delete task" class="delete-button" @onclick="RemoveTodoItem"></button>
    <legend class="date">@Model.Date</legend>
</fieldset>



<br />

@code {

    [Parameter]
    public ToDoItemModel Model { get; set; }

    [Parameter]
    public EventCallback<Tuple<ToDoItemModel, string>> UpdateHappened { get; set; }

    private string _dynamicId = string.Empty;

    private void ToggleCheckbox()
    {
        Model.Checked = !Model.Checked;
        UpdateHappened.InvokeAsync(new Tuple<ToDoItemModel, string>(Model, "toggle"));
    }

    private void RemoveTodoItem()
    {
        UpdateHappened.InvokeAsync(new Tuple<ToDoItemModel, string>(Model, "remove"));
    }

    async Task EditTaskText(ChangeEventArgs args)
    {
        var text = args.Value.ToString().Replace("\n", " ");
        Model.Text = text;

        await UpdateHappened.InvokeAsync(new Tuple<ToDoItemModel, string>(Model, ""));

        await JsRuntime.InvokeVoidAsync("methods.resizeTextBox", $"Text{Model.ToDoItemId}");

        if (text == string.Empty)
            RemoveTodoItem();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("methods.resizeTextBox", $"Text{Model.ToDoItemId}");
            await JsRuntime.InvokeVoidAsync("methods.onLoad");
        }
    }

    private async Task TextBoxHasResized()
    {
        await JsRuntime.InvokeVoidAsync("methods.resizeTextBox", $"Text{Model.ToDoItemId}");
    }

    protected override void OnInitialized()
    {
        AppState.OnResize += TextBoxHasResized;
        _dynamicId = ("Text" + Model.ToDoItemId);
    }
}
